
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f8f8f8;
  
}

.containerT {
  
  overflow-y: scroll;
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f8f8f8;
    
  }
  table {
    margin-bottom: 50px;
    width: 100%;
  }
  
  th,
  td {
    width: 20%;
    text-align: start;
    padding: 17px;
  }
  th{
    padding: 8px;
  }
  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
  }
  .card{
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
    padding: 1rem 2rem;
    width: 25%;
  }
  tr:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    transition: all 0.3s ease;
  }
  .head {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.437);
    border-radius: 0%;
    background-color: rgba(51, 51, 51, 0);
    box-shadow: none;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
  .picture {
    height: 35px;
    border-radius: 7px;
    background-color: rgba(196, 196, 196, 1);
  }
  
  #modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 0.6;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  #modal_show {
    opacity: 1;
    transform: translateY(0) 0.5s;
  }
  
  #modal h2 {
    font-size: 20px;
    color: #333;
    margin-top: 0;
  }
  
  #modal p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  #modal::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 9999; /* Asegura que la superposición esté por encima de otros elementos */
  }
  
  
  #modal button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #modal button:hover {
    background-color: #0056b3;
  }
  
  #modal button:focus {
    outline: none;
  }
  